.col-group {}
.col-group:after { content: ''; display: block; clear: both; height: 0px; overflow: hidden; }

.col-left-20 { width: 17.6%; float: left; }
.col-center-20 { width: 17.6%; float: left; margin-left: 3%; }
.col-right-20 { width: 17.6%; float: right; }
.col-left-40 { width: 38.2%; float: left; }
.col-left-60 { width: 58.8%; float: left; }
.col-left-80 { width: 79.4%; float: left; }
.col-center-40 { width: 38.2%; float: left; margin-left: 3%;}
.col-center-60 { width: 58.8%; float: left; margin-left: 3%; }
.col-center-80 { width: 79.4%; float: left; margin-left: 3%; }
.col-right-40 { width: 38.2%; float: right; }
.col-right-60 { width: 58.8%; float: right; }
.col-right-80 { width: 79.4%; float: right; }

.col-left-25 { width: 22.75%; float: left; }
.col-center-25 { width: 22.75%; float: left; margin-left: 3%; }
.col-right-25 { width: 22.75%; float: right; }
.col-left-50 { width: 48.5%; float: left; }
.col-right-50 { width: 48.5%; float: right; }
.col-left-75 { width: 74.25%; float: left; }
.col-right-75 { width: 74.25%; float: right; }
.col-left-37 { width: 35.625%; float: left; }
.col-center-37 { width: 35.625%; float: left; margin-left: 3%; }

.col-left-33 { width: 31.333%; float: left; }
.col-center-33 { width: 31.333%; float: left; margin-left: 3%; }
.col-right-33 { width: 31.333%; float: right; }
.col-left-66 { width: 65.666%; float: left; }
.col-right-66 { width: 65.666%; float: right; }

.col-left-70 { width: 68.5%; float: left; }
.col-left-35 { width: 32.75%; float: left; }
.col-center-35 { width: 32.75%; float: left; margin-left: 3%; }
.col-right-30 { width: 28.5%; float: right; }

/* старые методы */
.colgroup-75-25 {}
.colgroup-75-25 .col-1 { width: 72%; float: left; }
.colgroup-75-25 .col-2 { width: 25%; float: right; }

.colgroup-66-33 {}
.colgroup-66-33 .col-1 { width: 66%; float: left; }
.colgroup-66-33 .col-2 { width: 31%; float: right; }

.colgroup-60-40 {}
.colgroup-60-40 .col-1 { width: 60%; float: left; }
.colgroup-60-40 .col-2 { width: 37%; float: right; }

.colgroup-40-60 {}
.colgroup-40-60 .col-1 { width: 40%; float: left; }
.colgroup-40-60 .col-2 { width: 57%; float: right; }

.colgroup-25-75 {}
.colgroup-25-75 .col-1 { width: 25%; float: left; }
.colgroup-25-75 .col-2 { width: 72%; float: right; }

.colgroup-50-50 {}
.colgroup-50-50 .col-1 { width: 48%; float: left; }
.colgroup-50-50 .col-2 { width: 48%; float: right; }

.colgroup-33-33-33 {}
.colgroup-33-33-33 .col-1 { width: 31%; float: left; margin-right: 3.5%; }
.colgroup-33-33-33 .col-2 { width: 31%; float: left; }
.colgroup-33-33-33 .col-3 { width: 31%; float: right; }
