@font-face {
    font-family: DINPro;
    src: url('/static/fonts/din-pro-cond/DINPro.woff');
}

@font-face {
    font-family: DINPro-Black;
    src: url('/static/fonts/din-pro-cond/DINPro-Black.woff');
}

@font-face {
    font-family: DINPro-BlackItalic;
    src: url('/static/fonts/din-pro-cond/DINPro-BlackItalic.woff');
}

@font-face {
    font-family: DINPro-Bold;
    src: url('/static/fonts/din-pro-cond/DINPro-Bold.woff');
}

@font-face {
    font-family: DINPro-BoldItalic;
    src: url('/static/fonts/din-pro-cond/DINPro-BoldItalic.woff');
}

@font-face {
    font-family: DINPro-Cond;
    src: url('/static/fonts/din-pro-cond/DINPro-Cond.woff');
}

@font-face {
    font-family: DINPro-CondBlack;
    src: url('/static/fonts/din-pro-cond/DINPro-CondBlack.woff');
}

@font-face {
    font-family: DINPro-CondBlackIta;
    src: url('/static/fonts/din-pro-cond/DINPro-CondBlackIta.woff');
}

@font-face {
    font-family: DINPro-CondBold;
    src: url('/static/fonts/din-pro-cond/DINPro-CondBold.woff');
}

@font-face {
    font-family: DINPro-CondBoldIta;
    src: url('/static/fonts/din-pro-cond/DINPro-CondBoldIta.woff');
}

@font-face {
    font-family: DINPro-CondIta;
    src: url('/static/fonts/din-pro-cond/DINPro-CondIta.woff');
}

@font-face {
    font-family: DINPro-CondLight;
    src: url('/static/fonts/din-pro-cond/DINPro-CondLight.woff');
}

@font-face {
    font-family: DINPro-CondLightIta;
    src: url('/static/fonts/din-pro-cond/DINPro-CondLightIta.woff');
}

@font-face {
    font-family: DINPro-CondMediIta;
    src: url('/static/fonts/din-pro-cond/DINPro-CondMediIta.woff');
}

@font-face {
    font-family: DINPro-CondMedium;
    src: url('/static/fonts/din-pro-cond/DINPro-CondMedium.woff');
}

@font-face {
    font-family: DINPro-Italic;
    src: url('/static/fonts/din-pro-cond/DINPro-Italic.woff');
}

@font-face {
    font-family: DINPro-Light;
    src: url('/static/fonts/din-pro-cond/DINPro-Light.woff');
}

@font-face {
    font-family: DINPro-LightItalic;
    src: url('/static/fonts/din-pro-cond/DINPro-LightItalic.woff');
}

@font-face {
    font-family: DINPro-Medium;
    src: url('/static/fonts/din-pro-cond/DINPro-Medium.woff');
}

@font-face {
    font-family: DINPro-MediumItalic;
    src: url('/static/fonts/din-pro-cond/DINPro-MediumItalic.woff');
}

@font-face {
    font-family: PdfIntextCondPro-Light;
    src: url('/static/fonts/pf-din/pfdintextcondpro-light-webfont.eot');
    src: url('/static/fonts/pf-din/pfdintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/pf-din/pfdintextcondpro-light-webfont.woff') format('woff'),
        url('/static/fonts/pf-din/pfdintextcondpro-light-webfont.ttf') format('truetype'),
        url('/static/fonts/pf-din/pfdintextcondpro-light-webfont.svg#pf_din_text_cond_prolight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: PdfIntextCondPro-Italic;
    src: url('/static/fonts/pf-din/pfdintextcondpro-italic-webfont.eot');
    src: url('/static/fonts/pf-din/pfdintextcondpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/pf-din/pfdintextcondpro-italic-webfont.woff') format('woff'),
        url('/static/fonts/pf-din/pfdintextcondpro-italic-webfont.ttf') format('truetype'),
        url('/static/fonts/pf-din/pfdintextcondpro-italic-webfont.svg#pf_din_text_cond_proitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: PdfIntextCondPro-Medium;
    src: url('/static/fonts/pf-din/pfdintextcondpro-medium-webfont.eot');
    src: url('/static/fonts/pf-din/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/pf-din/pfdintextcondpro-medium-webfont.woff') format('woff'),
        url('/static/fonts/pf-din/pfdintextcondpro-medium-webfont.ttf') format('truetype'),
        url('/static/fonts/pf-din/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: PdfIntextCondPro-Bold;
    src: url('/static/fonts/pf-din/pfdintextcondpro-bold-webfont.eot');
    src: url('/static/fonts/pf-din/pfdintextcondpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/pf-din/pfdintextcondpro-bold-webfont.woff') format('woff'),
        url('/static/fonts/pf-din/pfdintextcondpro-bold-webfont.ttf') format('truetype'),
        url('/static/fonts/pf-din/pfdintextcondpro-bold-webfont.svg#pf_din_text_cond_probold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('/static/fonts/roboto/Roboto-Regular-webfont.eot');
    src: url('/static/fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
    url('/static/fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
    url('/static/fonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'font-icons';
	src:url('/static/fonts/font-icons/font-icons.eot');
	src:url('/static/fonts/font-icons/font-icons.eot') format('embedded-opentype'),
		url('/static/fonts/font-icons/font-icons.woff') format('woff'),
		url('/static/fonts/font-icons/font-icons.ttf') format('truetype'),
		url('/static/fonts/font-icons/font-icons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'lined-icons';
	src:url('/static/fonts/lined-icons/lined-icons.eot');
	src:url('/static/fonts/lined-icons/lined-icons.eot') format('embedded-opentype'),
		url('/static/fonts/lined-icons/lined-icons.woff') format('woff'),
		url('/static/fonts/lined-icons/lined-icons.ttf') format('truetype'),
		url('/static/fonts/lined-icons/lined-icons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
