.page-title .lnk-home-page { background-image: url('/static/i2/gm2/svc/inn/service-logo-w.png'); }
.page-title .lnk-home-page { font-size: 20px; line-height: 25px; padding-top: 25px; padding-bottom: 25px; padding-right: 100px; }

.page-header-fixed .page-title .lnk-home-page { background-image: url('/static/i2/gm2/svc/inn/service-logo-b.png'); }
