:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Montserrat", sans-serif;
}

html {
    font-family: var(--font-family);
}

.main-header-nav {
    display: flex;
    justify-content: space-between;
    font-size: 20px;

    height: 100px;
    align-items: center;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.site-navigation {
    display: flex;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;

    padding-left: 0;
}

.actions {
    display: flex;
}

.action {
    padding: 10px;
}

.main-header {
    border-style: solid;
}


.site-navigation-item {
    padding: 20px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.main-footer p {
    font-weight: 400;
    font-size: 16px;
    color: #9f9f9f;
}

.main-footer h3 {
    font-weight: 400;
    font-size: 16px;
    color: #9f9f9f;
}

.footer-article {
    border: 1px solid #d9d9d9;
    width: 1450px;
    height: 0px;
    padding-left: 40px;
}